body {
  background-image: url("http://alena-vysotskaya.ru/images/500/DSC100563247.jpg");
  background-size: 100%;
  color: yellow;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: yellow;
}

.high-usage {
  color: red;
}